h1 {
  color: blue;
  text-align: none;
  margin: 0;
  top: 20;
  display: block;
  font-size: 80px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-family: "Oswald", sans-serif;
}

li {
  display: inline;
}
.card {
  background-image: url("../Images/weatherbg2.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  width: 100%;
  margin: 1em;
  padding: 3em;
  max-width: 600px;
}
button {
  background-color: blue;
  color: white;
  border: none;
  font-size: 22px;
  display: inline-block;
}

.bottom {
  font-size: 25px;
  position: relative;
}
.serach {
  font-size: 20px;
}
.weather {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.serach-bar {
  color: black;
  width: 240px;
  border-color: gray;
}
.tempfahrcel {
  font-size: 20px;
  color: blue;
}
h2 {
  font-size: 40px;
  color: blue;
  padding: 5px;
}

.city-weather {
  font-size: 35px;
  margin: 0 auto;
}

.searchForm {
  font-size: 15px;
}
